@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  padding: 2vw;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
}

.status-messages {
  padding: 1.25em;
  color: white;
  background-color: #069B66;
  border-radius: 1.25em;
}

.space-between-messages {
  padding: 8vw 0 1vw 0;
}

.list-messages {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.message-received,
.message-sent {
  border-radius: 1.25em;
  padding: 0.8vw 1vw;
}
.message-received {
  background-color: #EFEFEF;
  border-bottom-left-radius: 0;
  align-self: flex-start;
  margin-bottom: 2vw;
}

.message-sent {
  text-align: right;
  color: white;
  background-color: #3267D6;
  border-top-left-radius: 1.25em;
  border-bottom-right-radius: 0;
  align-self: flex-end;
  margin: 2vw 0;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.send-messages-input {
  width: 100%;
  padding: 1vw 2vw 4vw 1vw;
  -webkit-border-radius: 1.25em;
  -moz-border-radius: 1.25em;
  border-radius: 1.25em;
  outline: none;
  border: 2px solid #EFEFEF;
}
.btn {
  background-color: #6895F5;
  border-radius: 1.25em;
  border: none;
  color: white;
  padding: 1.25em 16px;
  align-self: flex-end;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  outline: none;
}
